<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>222125125729-gbj1kavnspdqg3jeaulopuru9cdn8dpv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.222125125729-gbj1kavnspdqg3jeaulopuru9cdn8dpv</string>
	<key>API_KEY</key>
	<string>AIzaSyBbBjbyYIiW8SN1GY2IRvlk_3tGtWtEEOE</string>
	<key>GCM_SENDER_ID</key>
	<string>222125125729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TygerMatrix.MCHMoviesFirebase</string>
	<key>PROJECT_ID</key>
	<string>mchmoviesfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>mchmoviesfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:222125125729:ios:3bb0969bb5fb4a95ea7a20</string>
</dict>
</plist>